<!-- start custom head snippets -->

<!-- this script is inserted before the css stylesheet -->

<script src="https://cdn.jsdelivr.net/gh/dieghernan/RKI-Corona-Atlas/assets/js/htmlwidgets.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/dieghernan/RKI-Corona-Atlas/assets/js/react.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/dieghernan/RKI-Corona-Atlas/assets/js/react-dom.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/dieghernan/RKI-Corona-Atlas/assets/js/react-tools.min.js"></script>

<script src="./assets/others/navigation-1.1/tabsets.js"></script>
<link href="./assets/others/leaflet-1.3.1/leaflet.css" rel="stylesheet" />
<script src="./assets/others/leaflet-1.3.1/leaflet.js"></script>
<link href="./assets/others/leafletfix-1.0.0/leafletfix.css" rel="stylesheet" />
<script src="./assets/others/proj4-2.6.2/proj4.min.js"></script>
<script src="./assets/others/Proj4Leaflet-1.0.1/proj4leaflet.js"></script>
<link href="./assets/others/rstudio_leaflet-1.3.1/rstudio_leaflet.css" rel="stylesheet" />
<script src="./assets/others/leaflet-binding-2.0.4.1/leaflet.js"></script>
<script src="./assets/others/leaflet-providers-1.9.0/leaflet-providers_1.9.0.js"></script>
<script src="./assets/others/leaflet-providers-plugin-2.0.4.1/leaflet-providers-plugin.js"></script>
<link href="./assets/others/leaflet-easybutton-1.3.1/easy-button.css" rel="stylesheet" />
<script src="./assets/others/leaflet-easybutton-1.3.1/easy-button.js"></script>
<script src="./assets/others/leaflet-easybutton-1.3.1/EasyButton-binding.js"></script>

<!-- end custom head snippets -->
